html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* bilbo-regular - latin */
@font-face {
  font-family: "red-hat-display";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/RedHatDisplay/RedHatDisplay-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/RedHatDisplay/RedHatDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/RedHatDisplay/RedHatDisplay-Bold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/RedHatDisplay/RedHatDisplay-Bold.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/RedHatDisplay/RedHatDisplay-Bold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/RedHatDisplay/RedHatDisplay-Bold.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "gelion";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gelion/Gelion-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Gelion/Gelion-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Gelion/Gelion-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Gelion/Gelion-Regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/Gelion/Gelion-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Gelion/Gelion-Regular.svg")
      format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "gelion";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gelion/Gelion-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Gelion/Gelion-Medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Gelion/Gelion-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Gelion/Gelion-Medium.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/Gelion/Gelion-Medium.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Gelion/Gelion-Medium.svg")
      format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "gelion";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gelion/Gelion-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Gelion/Gelion-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Gelion/Gelion-SemiBold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Gelion/Gelion-SemiBold.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/Gelion/Gelion-SemiBold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Gelion/Gelion-SemiBold.svg")
      format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "gelion";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gelion/Gelion-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Gelion/Gelion-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Gelion/Gelion-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Gelion/Gelion-Bold.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/Gelion/Gelion-Bold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Gelion/Gelion-Bold.svg")
      format("svg"); /* Legacy iOS */
}

:root {
  --primary-text: #4b4f51;
  --second-text: #035755;
  --accent-text: #fa5652;
  --primary-backround: #e5e5e5;
  --color-buttom: #ffffff;
}

/* сброс стилей */
a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ul li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

/* установка стилей */

body {
  width: 1920px;

  background-color: var(--primary-backround--);
  color: var(--primary-text);
  font-family: gelion, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0em;
}

.container {
  width: 1470px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
  padding-top: 0;
  padding-bottom: 0;
}

.title-red {
  color: var(--accent-text);
}
.title-green {
  color: var(--second-text);
  font-size: 50px;
}

.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  text-align: center;

  height: 55px;
  width: 154px;
  border: 2px solid var(--accent-text);
  border-radius: 46px;

  margin: 0;
  cursor: pointer;
}

/* header */
.header {
  display: flex;
  align-items: baseline;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-nav {
  display: flex;
  align-items: baseline;
}

.list-header {
  display: flex;
  padding-left: 0;
}

.logo {
  display: flex;
  color: var(--second-text);

  font-family: red-hat-display, sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-right: 620px;
}

.header-nav .point {
  line-height: 1, 22;
  color: var (var(--accent-text));
}

.list-header li:not(:nth-last-child(1)) {
  margin-right: 45px;
}

.header-nav .point:hover,
.header-nav .point:focus {
  color: var(--accent-text);
}

.header .button {
  background-color: transparent;

  color: var(--accent-text);
  margin-left: auto;
}

.logo-type {
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 0;
}

.logo-type::before {
  content: "";
  display: inline-flex;
  width: 63px;
  height: 63px;
  background-image: url(../svg/logo.svg);
  background-size: contain;
  background-position: center;
  align-items: center;
  margin-right: 14px;
}

/* main */
/* HERO */
.main-hero {
  height: 862px;
  background-image: url(../svg/foto-hero.svg);
  background-size: cover;
  background-size: 1050px 862px;
  background-repeat: no-repeat;
  background-position: top right;
}

.hero {
  padding-top: 207px;
  padding-bottom: 207px;
}

.hero h1 {
  font-family: red-hat-display;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.38;

  color: var(--accent-text);
  margin-bottom: 96px;
}

.hero p {
  font-size: 24px;
  line-height: 1.9;
  margin-bottom: 54px;
}

.hero-block {
  width: 641px;
  height: 443px;
}

.hero button {
  font-size: 24px;

  color: var(--color-buttom);
  background-color: var(--accent-text);

  width: 250px;
  height: 80px;
}

/* contagion */
.contagion .contagions {
  padding-top: 7px;
}

.title-contagion {
  margin-top: 0;
  margin-bottom: 31px;
  text-align: center;
}

.contagion .paragrah {
  width: 520px;
  line-height: 2.3;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 111px;
}

.contagion h3 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 13px;
}

.list-contagion {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.list-contagion .point {
  font-family: inherit;
  margin-top: 0;
  padding: 75px 50px 75px;

  width: calc((100% - 60px) / 3);
  height: 575px;
}

.list-contagion li:not(:nth-last-child(1)) {
  margin-right: 30px;
}

.point.air::before {
  content: "";
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
  width: 270px;
  height: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  background-image: url(../svg/group-air.png);
}

.point.hend::before {
  content: "";
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
  height: 263px;
  width: 284px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  background-image: url(../svg/hend.png);
}

.point.cap::before {
  content: "";
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
  width: 275px;
  height: 254px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  background-image: url(../svg/cap.png);
}

.contagion p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* symptomps */
.tetle-symp {
  display: block;
  width: 289px;
  margin-left: auto;
  margin-right: auto;
}

.title-symptomps span {
  display: block;
  text-align: center;
}

.title-symptomps {
  margin-top: 0;
}

.container-symptomps {
  display: block;
  width: 1792px;
  height: 1100px;
  margin-left: 91px;
  margin-right: auto;
  padding-bottom: 140px;
  background-image: url(../svg/symptomps.png);
  background-repeat: no-repeat;
  background-position: center top 206px;
  background-size: 1168px 872px;
}

.symptomps .paragraph {
  width: 716px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
}

/* to do */
.container-to-do {
  display: block;
  width: 1470px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
  padding-top: 0;
  padding-bottom: 0;
}

.title-do-to {
  display: block;
  width: 473px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
}

.title-do {
  display: block;
}

.do-to span {
  display: block;
  text-align: center;
}

.paragraph {
  display: block;
  text-align: center;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.list-do {
  padding-left: 0;
}
.do-to .list {
  /* border: 2px solid tomato; */
  margin-left: 0;
  margin-right: 0;
}

.title-sequence {
  display: flex;
  font-size: 47px;
  font-weight: 500;
  line-height: 1.45;
}

.list {
  /* width: 647px; */
  display: flex;
  height: 570px;
  justify-content: space-between;
}

.container-list {
  width: 647px;
  padding-top: 143px;
  padding-bottom: 143px;
}

.title-sequence::before {
  content: " ";
  display: block;
  width: 75px;
  height: 75px;
  background-color: pink;
  border-radius: 50%;
  margin-right: 51px;
}

.list-do p {
  margin-left: 115px;
}

.list-do .list:nth-last-child(2n) {
  flex-direction: row-reverse;
}

.img-maps {
  margin-bottom: 162px;
}

.title-helps {
  width: 661px;
  margin-left: auto;
  margin-right: auto;
}

.title-helps h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 62px;
  color: #0c6c44;
}

.contacts-help {
  display: flex;
  max-width: 790px;
  max-height: 114px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 17px;
  align-items: center;
  justify-content: space-between;
  background-color: pink;
  border-radius: 57px;
  margin-bottom: 143px;
}

.contacts-help button {
  background-color: #f44a45;
  color: #ffffff;
}

/* footer */

.conteiner-footer {
  display: flex;
  width: 100%;
  align-items: baseline;
  margin-bottom: 67;
}

.footer .logo-type {
  margin-right: 213px;
}
.footer p {
  display: block;
  text-align: center;
}

.list-nav {
  display: flex;
  margin-left: auto;
}

.list-nav .networks:not(:nth-last-child(1)) {
  margin-right: 40px;
}

.list-footer {
  display: flex;
  width: 574px;
  justify-content: space-between;
}
